version: '3.9'

services:
  db:
    image: postgres:16
    container_name: movie_db
    env_file:
      - .env
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - movie_network
  
